<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="us.dev.shipandcargo.dao.OutputDao">

    <!-- Insert a new Output record -->
    <insert id="insertOutput" parameterType="us.dev.shipandcargo.domain.Output">
        INSERT INTO Output
        (groupId, id, actual_own, actual_rent, actual_all, virtual_own, virtual_rent, virtual_all, spot_own, spot_rent, spot_all, total, uploaderId)
        VALUES
        (#{groupId}, #{id}, #{actual_own}, #{actual_rent}, #{actual_all}, #{virtual_own}, #{virtual_rent}, #{virtual_all}, #{spot_own}, #{spot_rent}, #{spot_all}, #{total}, #{uploaderId})
    </insert>

    <!-- Delete an Output record by groupId, id, and uploaderId -->
    <delete id="deleteOutputBy3Ids">
        DELETE FROM Output
        WHERE groupId = #{groupId} AND id = #{id} AND uploaderId = #{uploaderId}
    </delete>

    <!-- Delete an Output record by groupId and uploaderId -->
    <delete id="deleteFromHistory">
        DELETE FROM Output
        WHERE groupId = #{groupId} AND uploaderId = #{uploaderId}
    </delete>

    <!-- Query by Condition -->
    <select id="queryByCondition" resultType="us.dev.shipandcargo.domain.Output">
        SELECT * FROM Output
        <where>
            <if test="groupId != null">
                AND groupId = #{groupId}
            </if>
            <if test="uploaderId != null">
                AND uploaderId = #{uploaderId}
            </if>
        </where>
        <if test="sortByList != null">
            ORDER BY
            <foreach collection="sortByList" item="item" index="index" separator=",">
                ${sort.field} ${sort.order}
            </foreach>
        </if>
    </select>

</mapper>
