<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Welcome Page</title>
  <style>
        .top-button {
            margin: 10px;
            padding: 5px 20px;
            font-size: 16px;
            cursor: pointer;
        }
    </style>
</head>
<body>

<div style="text-align: right; margin-top: 20px;">
  <button class="top-button" onclick="window.location.href='/register'">Register</button>
  <button class="top-button" onclick="window.location.href='/login'">Login</button>
</div>

</body>
</html>
